.DS_Store
social_preview.png
signature.png
Note/*.aux
Note/*.log
Note/*.out
Note/*.toc
Note/*.DS_Store
Note/*.synctex.gz
Note/*.synctex(busy)
Note/*.synctex.gz(busy)
Note/*.bbl
Note/*.blg
Note/*.fdb_latexmk
Note/*.fls
Note/*.gz
Note/*.gz(busy)
Note/*.synctex.gz(busy)
.vscode